*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--ff-Open-Sans);
}

:root{
    /* primary color */
    --Pink: hsl(322, 100%, 66%);

    /* natural color */
    --Very-Pale-Cyan: hsl(193, 100%, 96%);
    --Very-Dark-Cyan: hsl(192, 100%, 9%);
    --Grayish-Blue: hsl(208, 11%, 55%);

    /* font family */
    --ff-Open-Sans: 'Open Sans', sans-serif;
    --ff-Poppins: 'Poppins', sans-serif;

    /* font waite */
    --fw-regular: 400;
    --fw-semi-bold: 600;
    --fw-bold: 700;
}

body{
    background-color: transparent;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

/*------------- header --------------*/
.header{
    width: 100%;
    padding: 2.5rem 3rem;
    background-color: var(--Very-Pale-Cyan);
    background-image: url(../img/bg-hero-desktop.svg);
    background-repeat: repeat-x;
    background-position: top center;
}

/*---- top ----*/
.header__top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo-a{
    text-decoration: none;
}

.header__logo-img{
    width: 13rem;
}

.header__btn{
    text-decoration: none;
    color: var(--Grayish-Blue);
    font-size: 1rem;
    font-family: var(--ff-Poppins);
    font-weight: var(--fw-semi-bold);
    padding: .8rem 4rem;
    background-color: #fff;
    border-radius: 5rem;
    box-shadow: 0 10px 30px -5px rgba(0, 0, 0, 0.1);
}

/*---- bottom ----*/
.header__bottom{
    width: min(90rem, 100%);
    margin-inline: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 4.4rem;
}

/* left */
.bottom__left{
    width: 40%;
    min-width: 30rem;
}

.header__h1{
    font-size: 2.5rem;
    clear: var(--Very-Dark-Cyan);
    font-family: var(--ff-Poppins);
    font-weight: var(--fw-semi-bold);
    max-width: 20ch;
}

.header__p{
    font-size: 1rem;
    font-family: var(--ff-Open-Sans);
    font-weight: var(--fw-regular);
    color: var(--Very-Dark-Cyan);
    margin-top: 2.5rem;
    line-height: 1.7;
    max-width: 50ch;
}

.pink__btn{
    display: inline-block;
    text-decoration: none;
    color: var(--Very-Pale-Cyan);
    font-size: .8rem;
    font-family: var(--ff-Poppins);
    font-weight: var(--fw-semi-bold);
    background-color: var(--Pink);
    padding: .8rem 3rem;
    border-radius: 5rem;
    margin-top: 2rem;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
    transition: .3s;
}

.pink__btn:hover{
    opacity: .8;
}

/* right */
.bottom__right{
    width: 55%;
}

.mockups__img{
    width: 100%;
    display: block;
}


/*------------- main ---------------*/
.main{
    background-color: transparent;
    width: 100%;
}

/*--- banner ---*/
.banner{
    background-color: transparent;
    width: 100%;
    margin-inline: auto;
    padding: 9.5rem 3rem 3rem 3rem;
}

.banner > :nth-child(2){
    margin: 2.5rem auto;
}

/* all card */
.banner__card{
    background-color: transparent;
    width: min(90rem, 100%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3.5rem 1.8rem 3.5rem 7.5rem;
    margin-inline: auto;
    border-radius: 1rem;
    box-shadow: 0 5px 30px -5px rgba(0, 0, 0, 0.1);
}

.banner__text-area{
    width: 50%;
}

.banner__text-adjust{
    width: fit-content;
}

.banner__h3{
    color: var(--Very-Dark-Cyan);
    font-size: 2rem;
    font-family: var(--ff-Poppins);
    font-weight: var(--fw-semi-bold);
}

.banner__p{
    font-size: 1rem;
    font-weight: var(--fw-regular);
    color: var(--Grayish-Blue);
    max-width: 49ch;
    margin-top: 1rem;
}

.banner__img-area{
    width: 50%;
}

.banner__img{
    display: block;
    width: 85%;
}

.banner__img-adjust{
    margin-left: auto;
}

/*------------- community box ---------------*/
.main__community-box{
    box-shadow: 0 2px 30px 1px rgba(0, 0, 0, 0.1);
    width: min(50rem, 95%);
    margin-inline: auto;
    padding: 4.5rem 0 3rem 0;
    border-radius: 1rem;
    transform: translateY(5rem);
    background-color: #fff;
}

.main__h2{
    text-align: center;
    font-size: 2.2rem;
    color: var(--Very-Dark-Cyan);
    font-family: var(--ff-Poppins);
    font-weight: var(--fw-semi-bold);
    padding: 0 1rem;
}

.pink__btn-2{
    text-decoration: none;
    color: var(--Very-Pale-Cyan);
    background-color: var(--Pink);
    border-radius: 5rem;
    margin-inline: auto;
    margin-top: 2rem;
    display: block;
    width: min(26rem, 100%);
    text-align: center;
    font-size: 1.2rem;
    padding: 1.5rem 4rem;
    font-family: var(--ff-Poppins);
    font-weight: var(--fw-semi-bold);
    transition: .3s;
}

.pink__btn-2:hover{
    opacity: .8;
}


/*------------- footer ---------------*/
.footer{
    background-color: var(--Very-Dark-Cyan);
    width: 100%;
    padding: 8.5rem 3rem 4.75rem 3rem;
}

.footer__logo-wrapper{
    width: min(90rem, 100%);
    margin-inline: auto;
    margin-bottom: 2.5rem;
}

.footer__logo-img{
    width: 13rem;
    display: block;
}

.footer__content{
    background-color: transparent;
    width: min(90rem, 100%);
    margin-inline: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

/*--- info ---*/
.footer__info{
    width: 30%;
}

.info__sub-box{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 1.5rem;
}

.info__sub-box:nth-child(1){
    margin-top: 0;
}

.info__icon{
    margin-top: .3rem;
}

.info__txt{
    text-decoration: none;
    color: var(--Very-Pale-Cyan);
    font-size: 1rem;
    margin-left: 1rem;
    line-height: 1.5;
    font-weight: var(--fw-regular);
}

/*--- kinks ---*/
.footer__links-wrapper{
    width: 30%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 2.5rem);
    grid-template-areas: 
    "a d"
    "b e"
    "c f";
}

.footer__link{
    text-decoration-color: transparent;
    font-size: 1rem;
    color: var(--Very-Pale-Cyan);
    font-weight: var(--fw-regular);
    transition: .3s;
}

.footer__link:hover{
    text-decoration-color: var(--Very-Pale-Cyan);
}

.link-a{
    grid-area: a;
}
.link-b{
    grid-area: b;
}
.link-c{
    grid-area: c;
}
.link-d{
    grid-area: d;
}
.link-e{
    grid-area: e;
}

/*--- social ---*/
.footer__social{
    width: 30%;
    align-self: flex-start;
    color: var(--Very-Pale-Cyan);
    font-size: 1rem;
}

.social__links-wrapper{
    float: left;
}

.social__icon{
    text-decoration: none;
    font-size: 1rem;
    background-color: transparent;
    width: 2rem;
    aspect-ratio: 1;
    border: 1px solid var(--Very-Pale-Cyan);
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    float: left;
    transition: .3s;
}

.social__icon:nth-child(2){
    margin: 0 1rem;
}

.social__icon:hover{
    color: var(--Pink);
    border: 1px solid var(--Pink);
}

.social__copy-right{
    float: left;
    margin-top: 7rem;
}





/*------------- responsive ---------------*/

@media(max-width: 970px){
    /*------------- header ---------------*/
    .header{
        padding: 1.5rem 2.5rem;
    }

    .header__logo-img{
        width: 10rem;
    }

    .header__btn{
        padding: .5rem 3rem;
        font-size: .7rem;
    }

    /*--- bottom ---*/
    .header__bottom{
        padding-top: 3rem;
    }

    .mockups__img{
        margin-left: 1rem;
    }

    .bottom__left{
        min-width: 25rem;
    }

    .header__h1{
        font-size: 2rem;
    }

     /*------------- main ---------------*/
     .banner{
        padding: 9.5rem 1rem 3rem 1rem;
     }
}


@media(max-width: 809px){
    /*------------- header ---------------*/
    .header{
        padding: 1.5rem 1rem;
    }

    .header__logo-img{
        width: 7.5rem;
    }

    .header__btn{
        padding: .4rem 2.2rem;
    }

    /* --- bottom ---*/
    .header__bottom{
        flex-direction: column;
    }

    .bottom__left{
        min-width: 0;
        width: 100%;
    }

    .header__h1{
        text-align: center;
        margin-inline: auto;
        font-size: 1.8rem;
    }

    .header__p{
        font-size: .9rem;
        text-align: center;
        margin-inline: auto;
        margin-top: 1.5rem;
    }

    .pink__btn{
        display: block;
        width: min(15rem, 100%);
        margin-inline: auto;
        text-align: center;
    }

    .bottom__right{
        width: 100%;
    }
    
    .mockups__img{
        margin-left: 0;
        margin-top: 2.5rem;
        width: min(30rem, 100%);
        margin-inline: auto;
    }

    /*------------- main ---------------*/
    .banner > :nth-child(2){
        flex-direction: column;
    }

    .banner__card{
        flex-direction: column-reverse;
        padding-left: 1.8rem;
    }

    .banner__text-area{
        text-align: center;
        width: 100%;
    }

    .banner__h3{
        font-size: 1.5rem;
        margin-top: 4rem;
    }

    .banner__p{
        font-size: .9rem;
        margin-top: 2rem;
        margin-inline: auto;
        max-width: 75ch;
    }

    .banner__img-area{
        width: 100%;
    }

    .banner__img{
        width: min(20rem, 100%);
        margin: 0 auto;
    }

    /*------------- footer ---------------*/
    .footer{
        padding: 8.5rem 1rem 3rem 1rem;
    }

    .footer__content{
        flex-direction: column;
    }

    /* info */
    .footer__info{
        width: 100%;
    }

    .info__txt{
        max-width: 52ch;
    }

    /* links */
    .footer__links-wrapper{
        margin-top: 3rem;
        width: min(25rem, 100%);
    }

    /* social */
    .footer__social{
        margin-top: 3rem;
        width: 100%;
    }

    .social__links-wrapper{
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }

    .social__copy-right{
        margin-top: 1rem;
        width: 100%;
        text-align: center;
    }

}


@media(max-width: 677px){
    /*------------- main ---------------*/

    /* --- community*---*/
    .main__h2{
        font-size: 2rem;
    }

    .pink__btn-2{
        width: min(19rem, 90%);
        font-size: .9rem;
        padding: 1rem 3rem;
    }
}


@media(max-width: 602px){
    /*------------- main ---------------*/

    /*--- banner ---*/
    .banner{
        padding: 9.5rem 1rem 0rem 1rem;
    }

    /* --- community*---*/
    .main__h2{
        font-size: 1.5rem;
    }
}



@media(max-width: 375px){
    /*------------- header ---------------*/
    .header{
        background-image: url(../img/bg-hero-mobile.svg);
    }

    /*------------- footer ---------------*/

    .footer__links-wrapper{
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(6, 2.5rem);
        grid-template-areas: 
        "a"
        "b"
        "c"
        "d"
        "e"
        "f" ;
    }
}